
header{
  background-color: $primary;
  padding: 5px;
  transition: transform .5s ease-in-out;
  z-index: 2;
}

.search-frm {
  display: flex;
  padding: 4px 4px;
  width: fit-content;
  border-radius: 25px;
  border: solid 1px $divider;
  overflow: hidden;
  transition: opacity .5s ease-in-out;
}

.search-inp {
  font-family: Dosis;
  color: $text-icons;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 1em;
  line-height: 100%;
  font-size: 1em;
}

.search-inp::placeholder{
  color: $primary-light;
  font-family: Dosis;
  font-size: smaller;
}

.search-inp:hover ~ .search-btn, 
.search-inp:focus ~ .search-btn,
.search-btn:hover { 
  background-color: $divider !important;
} 
.form-container{
  display: flex;
  justify-content: center;
}
.units {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .input-group{
    display: flex;
    align-items: center;
    padding-right: 10px;
    // padding-bottom: 5px;
  }
  input[type=radio] {
    height: .8em;
    margin: 0;
    padding: 0;
  }
  label{
    color: $divider;
    font-size: .6em;
  }
}

.search-btn {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: background, .5s ease;
}

.search-btn-icon{
  color: $primary;
  height: 2em;
  width: 2em;
}


.expand-search-box {
  text-align: center;
  padding-top: 5px;
  line-height: 15px;
  svg {
    height: 20px;
    color: $divider;
  }
}

.expand-search {
  transition: transform .5s ease-in-out;
}

.fold {
  transform: translate(0, -60%)
}

.rotate {
  transform: rotate(180deg);
}

.wobble-y:hover, .wobble-y:focus, .wobble-y:active {
  -webkit-animation-name: wobble-y;
  animation-name: wobble-y;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


@keyframes wobble-y {
  25% {
    transform:translateY(-4px);
  }
  50% {
    transform:translateY(4px);
  }
  100% {
    transform:translate(0px);
  }
}