
header{
  background-color: $primary;
  padding: 5px;
  transition: transform .5s ease-in-out;
}

.search-frm {
  display: flex;
  margin: 0 auto;
  padding: 4px 4px;
  width: fit-content;
  border-radius: 25px;
  border: solid 1px $divider;
  overflow: hidden;
  transition: opacity .5s ease-in-out;
}

.search-inp {
  font-family: Dosis;
  color: $text-icons;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 1em;
  line-height: 100%;
  font-size: 1em;
}

.search-inp::placeholder{
  color: $primary-light;
  font-family: Dosis;
  font-size: smaller;
}

.search-inp:hover ~ .search-btn, 
.search-inp:focus ~ .search-btn,
.search-btn:hover { 
  background-color: $primary-light !important;
  color: $divider;
} 


.search-btn {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: background, .5s ease;
}

.search-btn-icon{
  color: $primary-dark;
  height: 2em;
  width: 2em;
}


.expand-caret {
  text-align: center;
  padding-top: 5px;
  line-height: 15px;
  svg {
    height: 15px;
    color: $divider;
  }
}

.fold {
  transform: translate(0, -65%)
}

.wobble-y:hover, .wobble-y:focus, .wobble-y:active {
  -webkit-animation-name: wobble-y;
  animation-name: wobble-y;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


@keyframes wobble-y {
  25% {
    transform:translateY(-4px);
  }
  50% {
    transform:translateY(4px);
  }
  100% {
    transform:translate(0px);
  }
}